<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="allTestNG">
		<classes>
			<class name="testng.danphe.patientReg.LoginTest" />
			<!--  <class name="testng.danphe.patientReg.DemoTest"/>
      <class name="testng.danphe.patientReg.Annotations"/>
      <class name="testng.danphe.patientReg.NewTest"/>
      <class name="testng.danphe.patientReg.LoginEdgeTest"/>
      <class name="testng.danphe.patientReg.LoginTest"/>
      <class name="testng.danphe.patientReg.LoginEdgeTest2"/> -->
		</classes>
	</test> <!--
	allTestNG -->
</suite> <!--
Suite -->
